<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Buttons</title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==" crossorigin="anonymous" />
    <link rel="stylesheet" href="../style.css">
</head>
<body>
    <div class="navbar">
       
        <!--       Click Event-->
                <input type="checkbox" class="checkbox" name="" id="check" hidden>
                <!--  Sidebar  -->
                <!-- <div class="sidebar"> -->
                   <label class="sidebar" for="check">
                    <div class="menu-icon">
                        <div class="line line-1"></div>
                        <div class="line line-2"></div>
                        <div class="line line-3"></div>
                    </div>
                    </label>
                    
                <!-- </div> -->
                <!--  End Of Sidebar  -->
                
                <!--    Navigation-->
            <nav class="navigation">
                 <ul class="navigation-list">
                    <li class="navigation-item">
                        <a href="../index.html" class="navigation-link">Home</a></li>
                      <li class="navigation-item">
                          <a href="./installation.html" class="navigation-link ">Installation</a>
                       </li>
                       <li class="navigation-item">
                           <a href="#" class="navigation-link">Components</a>
                       </li>
                       <li class="navigation-item ">
                           <a href="./alert.html" class="navigation-link">Alerts</a>
                       </li>
                       <li class="navigation-item">
                           <a href="./avatar.html" class="navigation-link">Avatar</a>
                       </li>
                       <li class="navigation-item active">
                           <a href="./buttons.html" class="navigation-link">Buttons</a>
                       </li>
                       <li class="navigation-item">
                           <a href="./card.html" class="navigation-link">Card</a>
                       </li>
                       <li class="navigation-item">
                           <a href="./text-card.html" class="navigation-link">Text-Card</a>
                       </li>
                       <li class="navigation-item">
                           <a href="./list-groups.html" class="navigation-link">List-Groups</a>
                       </li>
                       <li class="navigation-item">
                           <a href="./navigation.html" class="navigation-link">Navigation</a>
                       </li>
                       <li class="navigation-item">
                           <a href="./form.html" class="navigation-link">Forms</a>
                       </li>
                     </ul>
                 </nav>
        <!--    End Of Navigation-->
            </div>
        <!-- End Of Navbar   -->


        
            <nav id="nav-menu">
               <div class="logo-img">
                   <img src="../images/elegant-1-removebg-preview (3).png" class="logo" alt="">
               </div>
            </nav>
    <section id="installation">
    <div class="container">
       <div class="btn-data">
        <h1 class="install-head">Buttons</h1>
        <p class="install-para">The Button component is used to trigger an action or event, such as submitting a form, opening a dialog, canceling an action, or performing a delete operation.</p>
    </div>
    <div class="btn-fill-demo">
        <button class="btn btn-fill-success">Button</button>
        <button class="btn btn-fill-info">Button</button>
        <button class="btn btn-fill-warning">Button</button>
        <button class="btn btn-fill-danger">Button</button>
     </div>
    <div class="btn-fill-code">
        <iframe
        src="https://carbon.now.sh/embed?bg=rgba%2819%2C21%2C23%2C1%29&t=material&wt=none&l=htmlmixed&ds=true&dsyoff=7px&dsblur=0px&wc=true&wa=true&pv=0px&ph=0px&ln=false&fl=1&fm=Hack&fs=14px&lh=128%25&si=false&es=2x&wm=false&code=%253Cdiv%2520class%253D%2522btn-fill-demo%2522%253E%250A%2520%2520%2520%2520%2520%2520%2520%2520%253Cbutton%2520class%253D%2522btn%2520btn-fill-success%2522%253EButton%253C%252Fbutton%253E%250A%2520%2520%2520%2520%2520%2520%2520%2520%253Cbutton%2520class%253D%2522btn%2520btn-fill-info%2522%253EButton%253C%252Fbutton%253E%250A%2520%2520%2520%2520%2520%2520%2520%2520%253Cbutton%2520class%253D%2522btn%2520btn-fill-warning%2522%253EButton%253C%252Fbutton%253E%250A%2520%2520%2520%2520%2520%2520%2520%2520%253Cbutton%2520class%253D%2522btn%2520btn-fill-danger%2522%253EButton%253C%252Fbutton%253E%250A%2520%2520%2520%2520%2520%253C%252Fdiv%253E"
        style="width: 544px; height: 176px; border:0; transform: scale(1); overflow:hidden;"
        sandbox="allow-scripts allow-same-origin">
      </iframe>
    </div>

    <div class="alert-data">
        <h1 class="install-head">Buttons</h1>
        <p class="install-para">The Button component is used to trigger an action or event, such as submitting a form, opening a dialog, canceling an action, or performing a delete operation.</p>
    </div>
    <div class="btn-border-demo">
        <button class="btn btn-border-success">Button</button>
        <button class="btn btn-border-info">Button</button>
        <button class="btn btn-border-warning">Button</button>
        <button class="btn btn-border-danger">Button</button>
     </div>
    <div class="btn-border-code">
        <iframe
        src="https://carbon.now.sh/embed?bg=rgba%2819%2C21%2C23%2C1%29&t=material&wt=none&l=htmlmixed&ds=true&dsyoff=7px&dsblur=0px&wc=true&wa=true&pv=0px&ph=0px&ln=false&fl=1&fm=Hack&fs=14px&lh=128%25&si=false&es=2x&wm=false&code=%253Cdiv%2520class%253D%2522btn-border-demo%2522%253E%250A%2520%2520%2520%2520%2520%2520%2520%2520%253Cbutton%2520class%253D%2522btn%2520btn-border-success%2522%253EButton%253C%252Fbutton%253E%250A%2520%2520%2520%2520%2520%2520%2520%2520%253Cbutton%2520class%253D%2522btn%2520btn-border-info%2522%253EButton%253C%252Fbutton%253E%250A%2520%2520%2520%2520%2520%2520%2520%2520%253Cbutton%2520class%253D%2522btn%2520btn-border-warning%2522%253EButton%253C%252Fbutton%253E%250A%2520%2520%2520%2520%2520%2520%2520%2520%253Cbutton%2520class%253D%2522btn%2520btn-border-danger%2522%253EButton%253C%252Fbutton%253E%250A%2520%2520%2520%2520%2520%253C%252Fdiv%253E"
        style="width: 561px; height: 176px; border:0; transform: scale(1); overflow:hidden;"
        sandbox="allow-scripts allow-same-origin">
      </iframe>
    </div>
    
    </div>

    </section>

        
    <!-- <script src="../app.js"></script>   -->
</body>
</html>