<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Installation</title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../style.css">
</head>
<body>
    <div class="navbar">
       
        <!--       Click Event-->
                <input type="checkbox" class="checkbox" name="" id="check" hidden>
                <!--  Sidebar  -->
                <!-- <div class="sidebar"> -->
                   <label class="sidebar" for="check">
                    <div class="menu-icon">
                        <div class="line line-1"></div>
                        <div class="line line-2"></div>
                        <div class="line line-3"></div>
                    </div>
                    </label>
                    
                <!-- </div> -->
                <!--  End Of Sidebar  -->
                
                <!--    Navigation-->
            <nav class="navigation">
                 <ul class="navigation-list">
                     <li class="navigation-item">
                         <a href="../index.html" class="navigation-link">Home</a></li>
                       <li class="navigation-item  active">
                           <a href="./installation.html" class="navigation-link ">Installation</a>
                        </li>
                        <li class="navigation-item">
                            <a href="#" class="navigation-link">Components</a>
                        </li>
                        <li class="navigation-item">
                            <a href="./alert.html" class="navigation-link">Alerts</a>
                        </li>
                        <li class="navigation-item">
                            <a href="./avatar.html" class="navigation-link">Avatar</a>
                        </li>
                        <li class="navigation-item">
                            <a href="./buttons.html" class="navigation-link">Buttons</a>
                        </li>
                        <li class="navigation-item">
                            <a href="./card.html" class="navigation-link">Card</a>
                        </li>
                        <li class="navigation-item">
                            <a href="./text-card.html" class="navigation-link">Text-Card</a>
                        </li>
                        <li class="navigation-item">
                            <a href="./list-groups.html" class="navigation-link">List-Groups</a>
                        </li>
                        
                        <li class="navigation-item">
                            <a href="./navigation.html" class="navigation-link">Navigation</a>
                        </li>
                        <li class="navigation-item">
                            <a href="./form.html" class="navigation-link">Forms</a>
                        </li>
                     </ul>
                 </nav>
        <!--    End Of Navigation-->
            </div>
        <!-- End Of Navbar   -->


        
            <nav id="nav-menu">
               <div class="logo-img">
                   <img src="../images/elegant-1-removebg-preview (3).png" class="logo" alt="">
               </div>
            </nav>
    <section id="installation">
    
        <div class="container">
            <div class="install-data">
             <h1 class="install-head">Installation Walkthrough</h1>
             <p class="install-para bold">Copy-paste the stylesheet "link" tag into your  "head"  tag of your HTML file before all other stylesheets to load our CSS.</p>
            </div>
             <div class="install-code">
                <iframe
  src="https://carbon.now.sh/embed?bg=rgba%2819%2C21%2C23%2C1%29&t=material&wt=none&l=htmlmixed&ds=true&dsyoff=7px&dsblur=0px&wc=true&wa=true&pv=0px&ph=0px&ln=false&fl=1&fm=Hack&fs=13px&lh=141%25&si=false&es=2x&wm=false&code=%253Clink%2520rel%253D%2522stylesheet%2522%2520href%253D%2522https%253A%252F%252Fblend-ui.netlify.app%252Fcomponents-styles.css%2522%253E"
  style="width: 672px; height: 92px; border:0; transform: scale(1); overflow:hidden;"
  sandbox="allow-scripts allow-same-origin">
</iframe>

<p class="install-para">You can also import our url in your css file</p>
<iframe
  src="https://carbon.now.sh/embed?bg=rgba%2819%2C21%2C23%2C1%29&t=material&wt=none&l=htmlmixed&ds=true&dsyoff=7px&dsblur=0px&wc=true&wa=true&pv=0px&ph=0px&ln=false&fl=1&fm=Hack&fs=13.5px&lh=115%25&si=false&es=2x&wm=false&code=%2540import%2520url%28%27https%253A%252F%252Felegant-ui.netlify.app%252Fstyle.css%27%29%253B%250A%2520%2520%2520"
  style="width: 493px; height: 104px; border:0; transform: scale(1); overflow:hidden;"
  sandbox="allow-scripts allow-same-origin">
</iframe>   
</div>
     </div>
    </section>

    <script src="../app.js"></script>  
        
</body>
</html>